.body__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__button--create{
  height: 2.75rem;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
}

.body__div--separator {
  border: 1px solid black;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 1rem;
  position: relative;
}

.main__aside--aside-events{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3rem;
  border: 1px solid #CCC;
  padding-left: 2rem;
  width: 90%;
  height: 93%;
  overflow-y: scroll;
}

/***************scroll bar css************/
.main__aside--aside-events::-webkit-scrollbar {
  -webkit-appearance: none;
}

.main__aside--aside-events::-webkit-scrollbar:vertical {
  width: 0.5rem;
}

.main__aside--aside-events::-webkit-scrollbar-button:increment,
.main__aside--aside-events::-webkit-scrollbar-button {
  display: none;
}

.main__aside--aside-events::-webkit-scrollbar:horizontal {
  height: 10px;
}

.main__aside--aside-events::-webkit-scrollbar-thumb {
  background-color: #7795af;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
}

.main__aside--aside-events::-webkit-scrollbar-track {
  border-radius: 10px;
}


/*****************************************/

.aside__article--Event{
  /* border-bottom: 1px solid #CCC; */
  width: 80%;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.main__section--calendarContainer {
  border-left: 1px solid #CCC;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.div__button--switchMonth{
  height: 2.75rem;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
}

.section__div--switchMonth {
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

.section__div--weekDays {
  display: grid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(7, 1fr);
}

.div__span--Day {
  display: flex;
  justify-content: center;
  align-items: center;  
  font-weight: bold;
}

.section__div--gridMonth {
  /* border: 1px solid #CCC; */
  display: grid;
  row-gap:0.1rem;
  column-gap: 0.1rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.div__section--days {
  position: relative;
  border: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 15rem;
  height: 7.5rem;
}

.div__section--days:hover .buttonDay{
  display: flex;
}

.buttonDay{
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #CCC;
  border-radius: 100%;
  background-color: transparent;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 80%;
  cursor: pointer;
  height: 2.75rem;
  width: 2.75rem;
}

.section__div--singleDay {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section__div--currentDay {
  color: aqua;
  border-bottom: 1px solid #CCC;
  width: 50%;
  text-align: center;
}

.section__div--span{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section__span--span{
  padding-left: 1rem;
  border-bottom: 1px solid #CCC;
}


.main__dialog--Event{
  width: 20rem;
  height: 20rem;
}