* {
  font-family: "Open Sans", sans-serif;
}

/* HEADER SECTION */
.body__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.header__h1--tittle {
  color: #323232;
}
.header__calendar--icon {
  height: 2.75rem;
}
.header__button--create {
  background-color: #9d6ccb;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.266);
  border: 1px solid rgb(175, 173, 173);
  color: #ffffff;
  border-radius: 5px;
  font-size: 2.75rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding: 1rem;
  cursor: pointer;
}

.header__button--create:hover {
  font-weight: 600;
  color: #9d6ccb;
  background-color: #ffffff;
}

.body__div--separator {
  border: 0.7px solid rgb(175, 173, 173);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  padding: 1rem;
  position: relative;
}

/*  ASIDE SECTION */
.main__aside--aside-events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #9d6ccb;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1.4px;
  padding: 1.5rem;
}

.aside__article--Event {
  line-height: 0.8rem;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding: 1.5rem;
  margin-top: 1rem;
  position: relative;
}

.main__aside--delete-events {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  height: 2.75rem;
  stroke: #f3f3f3;
}

/* FINISH ASIDE SECTION */
.section__div--weekDays {
  font-size: 1.6rem;
  color: #323232c2;
  padding: 1.2rem;
}
.main__section--calendarContainer {
  border-left: 1px solid rgb(236, 231, 231);
  padding: 1rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.div__h5--month,
.div__h5--year {
  font-size: 1.8rem;
  color: #323232c2;
}

.div__button--switchMonth {
  height: 2.75rem;
  /* border: 1px solid black; */
  padding: 0.5em;
  cursor: pointer;
  font-weight: bold;
}

.div__button--switchMonth:hover {
  background-color: rgb(240, 236, 236);
  border-radius: 50%;
}

.section__div--switchMonth {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

.section__div--weekDays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.div__span--Day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.section__div--gridMonth {
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.div__section--days {
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 15rem;
  height: 7.5rem;
}

.div__section--days:hover .buttonDay {
  display: flex;
}

.buttonDay {
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 100%;
  background-color: transparent;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 80%;
  cursor: pointer;
  height: 2.75rem;
  width: 2.75rem;
}

.section__div--singleDay {
  margin-top: 5px;
  font-size: 1.8rem;
  color: #323232c2;
  font-weight: 600;
  margin-bottom: 1rem;
}

.section__div--currentDay {
  text-align: center;
  font-size: 2.4rem;
  color: #f3f3f3;
  width: 20%;
  background-color: #7a549e;
  border-bottom: 1px solid #ccc;
  border-radius: 50%;
  padding: 0.2rem;
}

.section__div--span {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section__span--span {
  padding-left: 1rem;
  border-bottom: 1px solid #ccc;
}
